@{
  Layout = "_Layout";
}

<h1>Welcome to the Recipe BOx!</h1>
<p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
<p>@Html.ActionLink("See all recipies", "Index", "Recipies")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>